.section {
    padding: 2rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-left: 1rem;
}