.section {
    padding: 2rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.recipe {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr auto auto;
    width: 75%;
}