.container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  max-width: 36rem;
  display: flex;
  justify-content: center;
}

.footer {
  text-align: center;
  padding: 1rem 0;
}