.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  display: relative;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.dropdown .navList {
  background-color: white;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  justify-content: flex-start;
}

.navListItem {
  padding: 0.25rem 0;
  position: relative;
}

.navListItem:hover::after,
.navListItem.active::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: lightblue;
}

.navListItem.active::after {
  height: 3px;
  bottom: -2px;
}

.showHideNav {
  background-color: inherit;
  border: none;
}
