.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  display: relative;
  padding: 1rem;
  position: relative;
}

.navListItem {
  padding: 0.25rem 0;
  position: relative;
}

/* Bottom Border for active section */
.navListItem:hover::after,
.navListItem.active::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: lightblue;
}

.navListItem.active::after {
  height: 3px;
  bottom: -2px;
}

.showHideNav {
  background-color: inherit;
  border: none;
}

/* Mobile Dropdown */
@media screen and (max-width: 599px) {
  .dropdown {
    position: absolute;
    top: 4rem;
    right: 0;
    padding: 1rem;
    width: 100vw;
    flex-direction: column;
    background-color: lightgray;
    display: none;
  }

  .navListItem {
    width: fit-content;
    align-self: center;
  }

  .navList.mobile .dropdown {
    display: flex;
    gap: 1rem;
  }
}

/* Full Screen Display */
@media screen and (min-width: 600px) {
  .mobileNav {
    display: none;
  }

  .dropdown {
    display: flex;
    width: 100%;
    gap: 12px;
  }

  .navListItem {
    display: block;
  }
}
