.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.form > * {
  width: 100%;
  max-width: 100%;
}

.times {
  display: flex;
  gap: 12px;
  width: 100%;
  overflow: hidden;
}

.times .input input {
  width: 100%;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input.error {
  border-color: red;
}

.invalidInput {
  font-size: 0.7rem;
  color: red;
}

.input.amount {
  max-width: calc(4.5rem + 4vw);
}

.ingredientList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.ingredient {
  width: 100%;
  display: flex;
  gap: 6px;
  align-items: flex-start;
}

.flexGrow {
  flex-grow: 1;
}

.flexGrow .input {
  width: 100%;
}

.ingredient .input {
  min-width: fit-content;
}

.remove {
  background-color: rgb(255, 176, 176);
  border-radius: 1px;
  height: 1fr;
  width: 1fr;
}

.col {
  display: flex;
  flex-direction: column;
}

.horizontal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 6px;
  align-items: flex-start;
}

.list {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.error {
  color: red;
  width: 100%;
  text-align: center;
}