@font-face {
  font-family: 'Amatic';
  src: url('../public/fonts/Amatic_SC/AmaticSC-Regular.ttf');
}

.recipeCard {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
  font-family: 'Amatic', cursive;
  background-color: #c9996a;
  background-image: url('../public/images/beige-paper.png');
}

.recipeCard_top,
.recipeCard_bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 0.5rem;
  align-items: center;
}

.recipeTitle {
  font-family: 'Apple Chancery', cursive;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.about {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
}

.ingredientList {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  height: 100%;
}

.ingredients {
  padding-left: 0;
  list-style: none;
}

.ingredientItem {
  border-bottom: 1px solid black;
  padding: 0.5rem 0 0 0;
}

.ingredientItem p {
  margin: 0;
}
